 body {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(5, 5, 12);
     font-family: Roboto, sans-serif;

 }

 .logo {
     font-size: 55px;
     color: #00ff88;
     font-family: Roboto, sans-serif;
     text-align: center;
     margin-bottom: 20px;
     font-weight: bold;
 }

 .login {
     width: 400px;
     height: 420px;
     padding: 20px;
     border-radius: 5px;
     background-color: rgb(15, 15, 24);
     margin-left: 15px;
     margin-right: 15px;
     color: #eee;
     max-height: min-content;
 }

 .form-group {
     margin-bottom: 10px;
 }

 .btn,
 .btn:hover,
 .btn:active {
     background-color: #00ff88 !important;
     color: black !important;
     border-color: #00ff88 !important;
     margin-top: 10px;
 }

 .fg_op {
     text-align: start;
     margin-top: 15px;
 }

 .fg_pass {
     color: #eee;
     text-decoration: none !important;
     margin-top: 20px;
     font-weight: bold;
 }

 .fg_pass:active,
 .fg_pass:hover {
     color: #00ff88;
 }

 .form-check {
     margin-top: 20px !important;
 }